<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <title>Software Engineering WebSite</title>
    <%=name%>
    <%=passwd%>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="/images/favicon.ico">
    <!-- import css -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/fonts/pixelfabric-clothes/style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/demo.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/flickity.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/component.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/popup.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/modernizr.custom.js"></script>
    <script src="/javascripts/popup.js"></script>
  </head>
  <body>
    <header class="bp-header cf">
        <span>ProtoType</span>
        <h1>Software Engineering WebSite</h1>
    </header>
    <a href="login" class="btn-example">login</a>
    <div class="dim-layer">
        <div class="dimBg"></div>
            <div id="login" class="pop-layer">
                <div class="pop-container">
                    <div class="pop-conts">
                        abcd
                        <div class="btn-r">
                            <a href="#" class="btn-layerClose">Close</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="view">
        <!-- Grid -->
        <section class="grid grid--loading">
            <img class="grid__loader" src="/images/grid.svg" width="60" alt="Loader image" />
            <div class="grid__sizer"></div>
        <%
            for(var i=0; i<rows.length; i++)
            {
                var oneItem = rows[i];
        %>
            <div class="grid__item grid__item--size-a <%=oneItem.property%>">
                <div class="slider">
                    <div class="slider__item"><img src="/images/<%=oneItem.img1%>" alt="Dummy" /></div>
                    <div class="slider__item"><img src="/images/<%=oneItem.img2%>" alt="Dummy" /></div>
                    <div class="slider__item"><img src="/images/<%=oneItem.img3%>" alt="Dummy" /></div>
                </div>
                <div class="meta">
                    <h3 class="meta__title"><%=oneItem.name%></h3>
                    <span class="meta__brand"><%=oneItem.company%></span>
                    <span class="meta__price">₩<%=oneItem.price%></span>
                </div>
                <a href="#layer" class="btn-example">trailer</a>
                <div class="dim-layer">
                    <div class="dimBg"></div>
                        <div id="layer" class="pop-layer">
                            <div class="pop-container">
                                <div class="pop-conts">
                                    <!--content //-->
                                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/TLR93jdkSww" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                    <div class="btn-r">
                                        <a href="#" class="btn-layerClose">Close</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
            </div>
        <%
            }
        %>
        </section>
    </div>
    <div class="bar">
        <div class="filter">
            <span class="filter__label">Category: </span>
            <button class="action filter__item filter__item--selected" data-filter="*">All</button>
            <button class="action filter__item" data-filter=".rpg"><i class="icon icon--jacket"></i><span class="action__text">RPG</span></button>
            <button class="action filter__item" data-filter=".fights"><i class="icon icon--shirt"></i><span class="action__text">FIGHTS</span></button>
            <button class="action filter__item" data-filter=".dresses"><i class="icon icon--dress"></i><span class="action__text">AOS</span></button>
            <button class="action filter__item" data-filter=".simulation"><i class="icon icon--trousers"></i><span class="action__text">SIMULATION</span></button>
            <button class="action filter__item" data-filter=".fps"><i class="icon icon--shoe"></i><span class="action__text">FPS</span></button>
        </div>
        <button class="cart">
            <i class="cart__icon fa fa-shopping-cart"></i>
            <span class="text-hidden">Shopping cart</span>
            <span class="cart__count">0</span>
        </button>
    </div>
    <script src="/javascripts/isotope.pkgd.min.js"></script>
	<script src="/javascripts/flickity.pkgd.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/popup.js"></script>
  </body>
</html>
