<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <title>Software Engineering WebSite</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <link rel="shortcut icon" href="/images/favicon.ico">
    <!-- import css -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="/stylesheets/cart.css" rel="stylesheet" type="text/css" media="all" />
    <link href='//fonts.googleapis.com/css?family=Signika:400,300,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/fonts/pixelfabric-clothes/style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/loginjoinstyle.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/new_pop.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/demo.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/flickity.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/component.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/popup.css" />
    <link rel="stylesheet" href="magnific-popup/magnific-popup.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="magnific-popup/jquery.magnific-popup.js"></script>
    <script src="/javascripts/modernizr.custom.js"></script>
    <script src="/javascripts/popup.js"></script>

    <style type="text/css">
     button_circle {
          height:35px;
          width: 35px;
          border-radius: 50%;
          background-color:rgb(0, 0, 0);
          padding-top: 11px;
          margin-left:8px;
          font-color:#FFF;
      }
      .mfp-no-margins img.mfp-img {
	    padding: 0;
        }
        /* position of shadow behind the image */
        .mfp-no-margins .mfp-figure:after {
            top: 0;
            bottom: 0;
        }
        /* padding for main container */
        .mfp-no-margins .mfp-container {
            padding: 0;
        }


    </style>
  </head>
  <body>
    <header class="bp-header cf">
        <span>ProtoType</span>
        <h1>Software Engineering WebSite</h1>
    </header>
    <div class="view">
        <!-- Grid -->
        <section class="grid grid--loading">
            <img class="grid__loader" src="/images/grid.svg" width="60" alt="Loader image" />
            <div class="grid__sizer"></div>
        <%
            for(var i=0; i<rows.length; i++)
            {
                var oneItem = rows[i];
        %>
            <div class="grid__item grid__item--size-a <%=oneItem.property%>">
                <div class="slider">
                    <div class="slider__item"><img src="/images/<%=oneItem.img1%>" alt="Dummy" /></div>
                    <div class="slider__item"><img src="/images/<%=oneItem.img2%>" alt="Dummy" /></div>
                    <div class="slider__item"><img src="/images/<%=oneItem.img3%>" alt="Dummy" /></div>
                </div>

                <div class="meta">
                    <a href="#login" data-popup="#login" class="layer-popup"><span class="glyphicon glyphicon-film" style="color:#FFF; font-size: 15pt;" size="5"></span></a>
                    <a href="#login" data-popup="#login" class="layer-popup" ><span class="glyphicon glyphicon-search" style="color:#FFF; font-size: 15pt;" size="5"></span></a>
                    <h3 class="meta__title"><%=oneItem.name%></h3>
                    <span class="meta__brand"><%=oneItem.company%></span>
                    <span class="meta__price">₩<%=oneItem.price%></span>
                </div>
                <a href="#login" data-popup="#login" class="layer-popup">
                    <button class="action action--button action--buy"><i class="fa fa-shopping-cart"></i><span class="text-hidden">Add to cart</span></button>
                </a>
            </div>
        <%
            }
        %>
        <div class="pop-wrap" id="login" style="display:none">
            <dl>
                <div class="form">
                    <div class="form-panel one">
                        <div class="form-header">
                            <h1>Account Login</h1>
                        </div>
                        <div class="form-content">
                            <form id = "login" action="/shop" method="post">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="text" id="username" name="username" required="required"/>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" id="password" name="password" required="required"/>
                                </div>
                                <div class="form-group">
                                    <a href="/signup" class="form-recovery">회원가입</a>
                                    <a href="#" class="form-recovery">Forgot Password?</a>
                                </div>
                                <div class="form-group">
                                    <button type="submit">Log In</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <a href="#none" class="btnp-close">팝업창 닫힘</a>
            </dl>
        </div>
        </section>
    </div>
    <div class="bar">
        <div class="filter">
            <span class="filter__label">Category: </span>
            <button class="action filter__item filter__item--selected" data-filter="*">All</button>
            <button class="action filter__item" data-filter=".rpg"><i class="icon icon--jacket"></i><span class="action__text">RPG</span></button>
            <button class="action filter__item" data-filter=".fights"><i class="icon icon--shirt"></i><span class="action__text">FIGHTS</span></button>
            <button class="action filter__item" data-filter=".dresses"><i class="icon icon--dress"></i><span class="action__text">AOS</span></button>
            <button class="action filter__item" data-filter=".simulation"><i class="icon icon--trousers"></i><span class="action__text">SIMULATION</span></button>
            <button class="action filter__item" data-filter=".fps"><i class="icon icon--shoe"></i><span class="action__text">FPS</span></button>
            <a href="/signup" style="color:#5c5edc"><button_circle type="button" class="glyphicon glyphicon-user" style="float:right" ></button_circle></a>
            <a href="#login"style="color:#5c5edc" data-popup="#login" class="layer-popup">
                <button_circle type="button" class="glyphicon glyphicon-log-in" style="float:right"></button_circle>
            </a>
        </div>
        <a href="#login" data-popup="#login" class="layer-popup">
        <button class="cart">
            <i class="cart__icon fa fa-shopping-cart"></i>
            <span class="text-hidden">Shopping cart</span>
            <span class="cart__count">0</span>
        </button>
        </a>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="/javascripts/isotope.pkgd.min.js"></script>
	 <script src="/javascripts/flickity.pkgd.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/popup.js"></script>
    <script src="magnific-popup/jquery.magnific-popup.js"></script>
    <script src="/javascripts/new_pop.js"></script>
  </body>
</html>
